Python_Week2/env/__pycache__/
Python_Week2/env/Include/
Python_Week2/env/Lib/
Python_Week2/env/Scripts/
CSS_HTML_Week1/flexbox-challenge/.vscode/settings.json
.vscode/settings.json
Python_Week2/env/pyvenv.cfg
Python_Week2/env/textAdventureProject/quest.log
Python_Week2/env/textAdventureProject/__pycache__/
Python_Week2/env/textAdventureProject/logger.log
Python_Week2/env/textAdventureProject/logger.csv
Python_Flask_Week_3/Day_1_Intro/.env/__pycache__/
Python_Flask_Week_3/Day_1_Intro/.env/Include/
Python_Flask_Week_3/Day_1_Intro/.env/Lib/
Python_Flask_Week_3/Day_1_Intro/.env/Scripts/
Python_Flask_Week_3/Day_1_Intro/__pycache__/
Python_Flask_Week_3/Day_2_API/venv/__pycache__/
Python_Flask_Week_3/Day_2_API/venv/Include/
Python_Flask_Week_3/Day_2_API/venv/Lib/
Python_Flask_Week_3/Day_2_API/venv/Scripts/
Python_Flask_Week_3/Day_2_API/__pycache__/
Python_Flask_Week_3/Day_2_API/.env