nav {
    height: 10vh; /*vh = view height, 10 = 10% */
    background-color: $color-white;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 75px;
    }
}

footer {
    background-color: $color-secondary;
    padding: 10px 0;
}

#mockup {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: $font-display;
    font-size: 20px;
    color: $color-white;
}

.button {
    display: block;
    width: 100px;
    background-color: $color-white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-primary;
    border: 2px solid $color-primary;
}

.image-left, .image-right {
    height: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.image-right {
    img {
        float: right;
    }
}

.image-left {
    img {
        float: left;
    }
}

.button-inverted {
    background-color: $color-primary;
    color: $color-white;
}

p {
    text-align: left;
    color: $color-primary;
    font-size: 15px;
    width: 300px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    display:block;
}

h1 {
    color: $color-primary;
    font-size: 30px;
}

h2 {
    color: $color-bright-blue;
    font-size: 25px;
    margin: 25px 100px;
}

h3 {
    color: $color-primary;
    font-size: 20px;
    margin: 25px 100px;
}

h4 {
    color: $color-bright-blue;
    font-size: 17px;
    margin: 25px 100px;
}

h5 {
    color: $color-primary;
    font-size: 16px;
    margin: 25px 100px;
}