@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body: "Roboto", sans-serif; /* sans is backup font if import on roboto fails */
$font-display: "Dancing Script", cursive;

$color-primary: #394166;
$color-secondary: #FFFCDD;
$color-black: #333333;
$color-white: #fafafa;
$color-bright-blue: #5CCCF2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $font-body;
    color: $color-black;
}

a:link, /* comma makes multiple selectors. https://webplatform.github.io/docs/css/selectors/#:~:text=A%20comma%2Dseparated%20list%20of,into%20a%20comma%2Dseparated%20list. */
a:visited {
    text-decoration: none;
}