header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#maincontent {
    border: 1px solid red;
    display: block;
    justify-content: center;
    align-items: center;
}*/